<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joke Finder</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="header">
        <h1>Joke Finder</h1>
    </div>
    </div class="container">
        <div class="main-button-container">
        <a href="get-joke">
        <button class="main-button">Get a joke!</a>
        </a>
        </div>
    </div>
</body>
</html>