<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joke Finder</title>
</head>
<body>
    <h1>Joke Finder</h1>
    <h3>Categories:</h3>
    <form action="/submit" method="POST">
    <% jokeCategories.forEach(category => { %>
     <input type="radio" id="<%= category %>" name="category" value="<%= category %>">
     <label for="<%= category %>"><%= category %></label>
    <% }) %>
    <br><br>
    <button type="submit">Get a joke!</button>
    </form>
</body>
</html>